# All the things that are being ignored:
/*
/*/
/.vim/plugged
*.swp
/.vim/.cache/ctrlp-windows
/.vim/.cache/ctrlp-linux
/.git/index

# All the things that will be in the repository:
!/.vimrc
!/.gitignore
!/vimfiles
!/.vim
!/.vim/ftplugin
!C:\Programming-Projects
#!/.vim/.cache/ctrlp-windows/bkd/cache.txt
#!/.vim/.cache/ctrlp-linux/bkd/cache.txt


