# This is Git's per-user configuration file.
[color]
	diff        = auto
	status      = auto
	branch      = auto
	interactive = auto
	ui          = auto
	pager       = true
[user]
# Please adapt and uncomment the following lines:
	name        = PratikBhusal
	email       = PratikBhusal@users.noreply.github.com
[core]
	autocrlf    = input
	editor = vim
[diff]
	tool = vimdiff
