# All the things that are being ignored:
/*
/*/
/.vim/plugged
*.swp
/.vim/.cache/ctrlp

# All the things that will be in the repository:
!/.vimrc
!/.gitignore
!/vimfiles
!/.vim
!/.vim/ftplugin
!C:\Programming-Projects


