snippet fold "Insert a vim fold marker" b
# ${1} {{{${0:1}
endsnippet

snippet foldc "Insert a vim fold close marker" b
#  ${0:1}}}}
endsnippet

snippet foldp "Insert a vim fold marker pair" b
# ${1} {{{
${0:${VISUAL:# Content }}
# $1 }}}
endsnippet
