snippet bord "Insert a vim fold border" b
${1} {{{${0:1} `!p snip.rv = '-' * (int(snip.opt('&tw')) - len(t[1]) - 8)`
endsnippet

snippet bordc "Insert a vim fold close border" b
$1${0:1}}}} `!p snip.rv = '-' * (int(snip.opt('&tw')) - len(t[1]) - 7)`
endsnippet

snippet bordp "Insert a vim border pair" b
$1 {{{ `!p snip.rv = '-' * (int(snip.opt('&tw')) - len(t[1]) - 5)`
${0:${VISUAL:Content }}
$1 }}} `!p snip.rv = '-' * (int(snip.opt('&tw')) - len(t[1]) - 5)`
endsnippet
