snippet bordp "Insert a border pair" b
# $1 {{{ `!p snip.rv = '-' * (int(snip.opt('&tw')) - len(t[1]) - 7)`
${0:${VISUAL:# Content }}
# $1 }}} `!p snip.rv = '-' * (int(snip.opt('&tw')) - len(t[1]) - 7)`
endsnippet
