priority 1

snippet bor "Add a border"
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
endsnippet

snippet pl "Vim-plug Plugin definition"
Plug '${0}'
endsnippet

snippet fold "Add a new fold marker" b
" ${1} {{{${0:1}
endsnippet

snippet foldc "Add fold close marker" b
"  ${0:1}}}}
endsnippet

snippet foldp "Insert a vim fold marker pair" b
" ${1} {{{
${0:"Content}
" }}}
endsnippet
