[Desktop Entry]
Type=Application
Name=Screenshot-Selection
Comment=Launches program to take screenshot
Terminal=false
Exec=maim -u -f "png" -m 1 ~/Pictures/Screenshots/$(date +%\F-%T).png -s -r boxzoom
